* {
    font-family: Calibri, Myriad, "Helvetica Neue", Arial, sans-serif;
}
body {
    font-size: 1em;
    color: #555555;
}
form > fieldset {
    border: none;
}

.numberPool, .solution {
    overflow-wrap: break-word;
}